<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madvincy.safe">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".signup2" />
        <activity android:name=".findparking.map" />
        <activity android:name=".promotions.InviteFriend" />
        <activity android:name=".booking.Booking" />
        <activity android:name=".settings.CustomerSettings" />
        <activity android:name=".parkinghistory.CustomerParkingHistory" />
        <activity android:name=".findparking.User2Park" />
        <activity android:name=".parking_place_account_activities.login" />
        <activity android:name=".parking_place_account_activities.create_parkingplace" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5-20wHzm8Iluv261yeCnIskqULQIj_Xo" />

        <activity android:name=".qrscanner.GenerateQr" />
        <activity android:name=".ParkingPlace.ParkDashboard" />
        <activity android:name=".parking_place_account_activities.ResetParkPlacePasswordActivity" />
        <activity android:name=".parking_place_account_activities.SignUpActivity" />
        <activity android:name=".parking_place_account_activities.ParkPlaceLocation" />
        <activity android:name=".parking_place_account_activities.ParkDashboard" />
        <activity android:name=".parking_place_account_activities.CreateEmployees" />
        <activity android:name=".parking_place_account_activities.QrScanning" />
        <activity android:name=".parking_place_account_activities.EmployeeDashboard" />
        <activity android:name=".parking_place_account_activities.CustomerPreview" />
        <activity android:name=".parking_place_account_activities.ParkingPlaceHistory" />
        <activity android:name=".CustomerActivities.CustomerParkingHistory" />
        <activity android:name=".parking_place_account_activities.AllocateParkingLot" />
        <activity android:name=".CustomerActivities.ActiveParkingActivity" />
        <activity android:name=".qrscanner.GenerateQr2" />
        <activity android:name=".parking_place_account_activities.ConfirmEndParking" />
        <activity android:name=".parking_place_account_activities.ActiveParking.carbooking" />
        <activity android:name=".parking_place_account_activities.ActiveParking.CarparkBookingSingle" />
        <activity android:name=".parking_place_account_activities.ActiveParking.ActiveParkingRecyclerView.BookingAdapter" />
        <activity android:name=".parkinghistory.HistorySingleActivity" />
        <activity android:name=".booking.ParkBookings" />
        <activity android:name=".parking_place_account_activities.Myemployees.Employee" />
        <activity android:name=".CustomerActivities.Dashboard" />
        <activity android:name=".settings.CarSettings" />
        <activity android:name=".settings.editCar" />
        <activity android:name=".settings.editUser" />
        <activity android:name=".parking_place_account_activities.CarParkHistory.ParkHistory" />
        <activity android:name=".parking_place_account_activities.CarParkHistory.ParkingHistorySingleActivity"></activity>
    </application>

</manifest>